.newnavbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #222;
    border-color: #080808;
    top: 0;
    border-width: 0 0 1px;
    border-radius: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

@media (min-width: 320px) .newcontainer {
    width: 302px;
}

.newcontainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.newnavbar-inverse .newnavbar-brand {
    color: #9d9d9d;
}

.newnavbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.newnavbar-nav {
    float: left;
    margin: 0;
}

.newnavbar-nav {
    margin: 7.5px 0px;
}

.newnav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.newnav > li {
    position: relative;
    display: block;
}

.newnavbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
}

.newnav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.newnavbar-inverse .newnavbar-nav > li > a {
    color: #9d9d9d;
}
.newnavbar-nav > li > a:hover, .newnavbar-nav > li > a:focus {
     text-decoration: none; 
}
