<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css.css" />
</head>
<body>
    <div id="Main">
        <div id="Content">
            <div style="margin-top:30px">
                <div class="class_na_1">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", false)
</body>
</html>
