@{
    ViewBag.Title = "Редактирование исполнителя";
    Layout = null;
}
<div class="modal-content" >
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Редактирование Исполнителя</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Название модели:</dt>
            <dd>@Html.Display("Бла 124312323 1 Бла")</dd>

            <dt>Производитель</dt>
            <dd>@Html.Display("ФЫЫФ12312312323 12312ы")</dd>

            <dt>Год выпуска</dt>
            <dd>@Html.Display("йуцц йц321312уйцл оькуцл уцйкйуц")</dd>
        </dl>
    </div>
</div>
